*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
nav{
  background: #ABD4DF;
  grid-area: n;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'PT Mono';font-size: 22px;
  letter-spacing: 3px;
  min-height: 8vh;
}
.logo{
  text-transform: uppercase;
  font-family: 'Caveat';
  font-size: 22px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width:;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color:#466564;
  text-decoration: none;
  font-weight: bold;
}

body {
  background-color: #ffffff;
}

.container{
  display: grid;
  height: 300vh;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.2fr 0.6fr 1fr 1fr 1fr 0.4fr;
  grid-template-areas:
  ". h h h ."
  ". p1 t1 p2 ."
  ". p3 v p4 ."
  ". p5 t2 p6 ."
  ". f f f ."
}

.header {
  background-image: url('header_test10.png');
  text-align: center;
  text-transform: uppercase;
  font-family: 'Caveat';
  font-size: 140px;
  height: 400px;
  width:100%;
  grid-area: h;
}

.picture1{
  background: #ABD4DF;
  grid-area: p1;
}

.picture2{
  background: #ABD4DF;
  grid-area: p2;
}

.picture3{
  background: #ABD4DF;
  grid-area: p3;
}

.tekst1{
  background: #466564;
  grid-area: t1;
}

.video{
  background: #E27900;
  grid-area: v;
}

.tekst2{
  background: #466564;
  grid-area: t2;
}

.picture4{
  background: #ABD4DF;
  grid-area: p4;
}

.picture5{
  background: #ABD4DF;
  grid-area: p5;
}

.picture6{
  background: #ABD4DF;
  grid-area: p6;
}

.footer{
  background: #466564;
  grid-area: f;
}

@media only screen and (max-width: 550px) {
  .container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
    "h h"
    "p1 p2"
    "t1 t1"
    "p3 p3"
    "v v"
    "p4 p4"
    "t2 t2"
    "p5 p6"
    "f f"
  }
}
