nav{
  background: #ABD4DF;
  grid-area: n;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'PT Mono';font-size: 22px;
  letter-spacing: 3px;
  min-height: 8vh;
}
.logo{
  text-transform: uppercase;
  font-family: 'Caveat';
  font-size: 22px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width:;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color:#466564;
  text-decoration: none;
  font-weight: bold;
}

body {
  background-color: #707070;
}
.cover {
  width: 100%;
  height: auto;
}

.header {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Caveat';
  font-size: 140px;
  height: 400px;
  width:100%;
  grid-area: h;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.column {
  color:#ABD4DF;
  width: 33%;
}

.picture1{
  background: #ABD4DF;
  grid-area: p1;
}

.picture2{
  background: #ABD4DF;
  grid-area: p2;
}

.picture3{
  background: #ABD4DF;
  grid-area: p3;
}

.tekst1{
  background: #466564;
  grid-area: t1;
}

.video{
  background: #E27900;
  grid-area: v;
}

.tekst2{
  background: #466564;
  grid-area: t2;
}

.picture4{
  background: #ABD4DF;
  grid-area: p4;
}

.picture5{
  background: #ABD4DF;
  grid-area: p5;
}

.picture6{
  background: #ABD4DF;
  grid-area: p6;
}

.footer{
  background: #466564;
  grid-area: f;
}

@media only screen and (max-width: 769px) {
  .flex-container {
    flex-direction: column;
  }

  #main .column {
      width: 100%;
  }

  #main_content {
    order: 0;
  }

  #sidebar_left {
    order: 10;
  }

  #sidebar_right {
    order: 20;
    display: block;
  }
}
