.container {
         display: grid;
         height: 100%;
         grid-template-columns: repeat(4,1fr);
         grid-template-rows: auto auto auto;
         grid-gap: 5px;
         grid-template-areas:
         "h h h h "
         "m a a r"
         "f f f f"
     }
.header {
  grid-area: h;
}
.menu {
  grid-area: m;
}
.main {
  grid-area: a;
}
.right {
  grid-area: r;
}
.footer {
  grid-area: f;
}
@media screen and (max-width:550px) {
  div.container {
          display: grid;
           grid-template-columns: repeat(4,1fr);
           height: 100%;
           grid-template-rows: auto auto auto auto auto;
           grid-template-areas:
           "h h h h"
           "m m m m"
           "a a a a"
           "r r r r"
           "f f f f"
       }
}
