nav{
  background: #30738B;
  grid-area: n;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'PT Mono';font-size: 22px;
  letter-spacing: 3px;
  min-height: 8vh;
}
.logo{
  text-transform: uppercase;
  font-family: 'Caveat';
  font-size: 22px;
  letter-spacing: 3px;
}
.picture {
  text-transform: uppercase;
  font-family: 'PT Mono';
  font-size: 15px;
  letter-spacing: 2px;
}
.text{
  text-transform: uppercase;
  font-family: 'PT Mono';
  font-size: 22px;
  letter-spacing: 2px;
}
.video{
  text-transform: uppercase;
  font-family: 'PT Mono';
  font-size: 22px;
  letter-spacing: 2px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width:;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color:#ABD4DF;
  text-decoration: none;
  font-weight: bold;
}

body {
  background-color: #ABD4DF;
}
.cover {
  width: 100%;
  height: auto;
}

.header {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Caveat';
  font-size: 140px;
  height: 400px;
  width:100%;
  grid-area: h;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.column {
  color:#30738B;
  background-color: #ABD4DF;
  width: 33%;
}

.footer{
  background: #30738B;
}

@media only screen and (max-width: 769px) {
  .flex-container {
    flex-direction: column;
  }

  #main .column {
      width: 100%;
  }

  #main_content {
    order: 0;
  }

  #sidebar_left {
    order: 10;
  }

  #sidebar_right {
    order: 20;
    display: block;
  }
}
